:root {
  --color-01: rgba(90,251,50,1);
  --color-01-faded: rgba(249,255,213,1);
  --color-02: rgba(213,57,224,1);
  --color-02-faded: rgba(217,254,187,1);
  --color-03: rgba(234,51,132,1);
  --color-03-faded: rgba(189,253,234,1);
  --font-atmoradio: "Mohave", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #fff;
  margin-right: 36px;
  color: #000;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

.social {
  margin-top: 52px;
  margin-right: 10px;
}

.icon__social {
  width: 24px;
  height: 24px;
  color: #000;
  transition: color ease .2s;
}

.instagram:hover {
  color: var(--color-02);
}

.logo {
  max-width: 100%;
  max-height: 200px;
}

.podcast-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 36px;
  max-width: calc(100% - 40px);
}

.podcast-list__item {
  flex: 0 1 auto;
  margin-right: 18px;
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
}

.podcast-list__item:last-of-type {
  margin-right: 0;
}

.overlay-number {
  position: absolute;
  top: 0;
  right: 24px;
  font-family: var(--font-atmoradio);
  font-weight: 500;
  font-size: 10em;
  letter-spacing: -0.03em;
  transform: translateY(-10em);
  transition: transform .4s ease;
}

.podcast-list__item:hover .overlay-number {
  transform: translateY(0)
}

.podcast-list__item {
  position: relative;
  overflow: hidden;
}

.podcast-list__item::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  pointer-events: none;
  z-index: -1;
}

.item-01::before {
  /* Switch when moved to 3rd position on the right 👇 */
  /* background: linear-gradient(90deg, var(--color-01-faded) 0%, var(--color-01) 100%); */
  background: radial-gradient(circle, var(--color-01-faded) 0%, var(--color-01) 100%);
}

.item-02::before {
  /* Switch when moved to 2nd position in the center 👇 */
  /* background: radial-gradient(circle, var(--color-02-faded) 0%, var(--color-02) 100%); */
  background: linear-gradient(90deg, var(--color-02) 0%, var(--color-02-faded) 100%);
}

.item-03::before {
  background: linear-gradient(90deg, var(--color-03) 0%, var(--color-03-faded) 100%);
}

.podcast-list__item:hover::before {
  opacity: 1;
}

.overlay-number-01 {
  color: var(--color-01);
}

.overlay-number-02 {
  color: var(--color-02);
}

.overlay-number-03 {
  color: var(--color-03);
}

.spotify-cta {
  position: absolute;
  right: 30px;
  font-family: var(--font-atmoradio);
  font-weight: 500;
  font-style: italic;
  letter-spacing: -0.03em;
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  transition: transform .2s ease;
  transform: translateY(0);
}

.spotify-cta,
.overlay-number {
  pointer-events: none;
}

.spotify-cta-arrow {
  padding-left: 6px;
}

.podcast-list__item:hover .spotify-cta {
  transform: translateY(-3em);
}

.podcast-list__item img {
  width: 100%;
  height: auto;
  min-width: 400px;
  min-height: 400px;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .podcast-list__item {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .overlay-number {
    font-size: 6em;
    transform: translateY(-1.5em);
  }

  .spotify-cta {
    transform: translateY(0em);
    font-size: 1.2em;
  }

  .podcast-list__item:hover .overlay-number {
    transform: translateY(0em);
  }

  .podcast-list__item:hover .spotify-cta {
    transform: translateY(-2.8em);
  }

  .instagram {
    width: 72px;
    height: 72px;
    position: absolute;
    left: 574px;
    top: 72px;
  }

  .logo {
    position: relative;
    max-height: 400px;
    top: -40px;
    left: -40px;
  }
}
