body {
  background: #E489C4;
  overflow: hidden;
}

.content {
  color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spotify-wrapper {
  position: relative;
}

.track {
  position: absolute;
  color: #D92647;
  font-family: "Montserrat", sans-serif;
  top: 68%;
  left: calc(50% - 550px);
  transform: translate(-50%, -50%);
  width: 301px;
  line-height: 60px;
  font-weight: 900;
}

.title {
  font-size: 92px;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 4px;
}

.artist-label {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 29px;
  margin-top: 20px;
  position: relative;
}


.artist-label strong {
  font-weight: 700;
}

.artist-label::after{
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: solid 1px #D92647;
  bottom: -20px;
  left: 0;
}

.shadow {
  opacity: .4;
  width: 150%;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #D92647;
  position: absolute;
  font-size: 262px;
  z-index: -1;
  text-transform: uppercase;
  line-height: 180px;
  filter: multiply(100%);
}

.shadow--top {
  top: 0;
  text-align: center;
}

.shadow--bottom-right {
  top: 420px;
  left: 55%;
  line-height: 210px;
}
.shadow p {
  margin: 20px;
}

.spotify-wrapper::before {
  position: absolute;
  background-color: #DB2944;
  z-index: -1;
  left: -25px;
  top: 12px;
  /* bottom: -20px; */
  height: 524px;
  width: 436px;
  content: '';
}

.artist-shadow {
  font-size: 188px;
}

.title-shadow {
  font-size: 188px;
}

.shadows {
  position: absolute;
  z-index: -1;
  bottom: 100px;
  left: -40px;
  font-weight: 500;
  opacity: .16;
  color: #e3e3e3;
  filter: multiply(100%);
  font-size: 188px;
}

