
body {
  background-color: #f2f2f2;
}
.mixlr_wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.last_fm {
  padding-top: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  text-align: center;
}

.last_fm a {
  text-decoration: none;
  color: #808080;
}

.last_fm a:hover {
  background-color: #b3b3b3;
  color: #FFF;
  padding: 10px;
  border-radius: 5px;
}
